*{
    box-sizing: border-box;
}
html,body{
    padding: 0;
    margin: 0;
}
:root{
    --white-color: hsl(0, 0%, 100%);
}
header{
  
    height: 90vh;
    background-image: url("images/mobile/image-hero.jpg");
    background-size: cover;
    background-repeat: repeat;
    padding: 20px 30px;
}
header nav{

    display:flex;
    justify-content: space-between;
    align-items: center;

}
header nav ol{
    list-style: none;
    display: none; 
    margin-top: 2%;
    margin-right: 5%;
}
header nav ol li{
    
}
header nav ol li a{
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

.logo{
    margin-left: 5%; 
    margin-top: 2%;
  } 

.nav_tooger img{
    /* display: none; */
    /* display: block; */
    /* margin-left: 10px; */
}
section picture img{
    width: 100%;
}
nav.deliver{
    height: 50%;
    width: 40%;
    color: wheat;
    margin-left: 10%;
}
header h1{
    color: white;
    font-family: 'Josefin Sans';
    border: solid;
    font-size: 3rem;
    letter-spacing: 0.20rem;
    line-height: 3.7rem;
    /* line-width: 6rem; */
    padding: 5% 5%;
    

}
.heading1{
    width: 85%;
    margin: auto;
    margin-left: 5%;
    margin-top: 6%;
}
.container{
    margin-top: -5%;
    height: 100%;
    /* width: 100%; */
    background-color: rgb(255, 255, 255);
}

.box1{
/* background-image: url(images/mobile/image-interactive.jpg); */
margin-left: 9%;
width: 40%;
height: 50%;
margin-top: 8%;
position: absolute;
}
.box1 img{
    margin-top: 20%;
    width: 550px;
    height: 400px;
    }
    .box2{
        margin-left: 10%;
        width: 400px;
        height: 60%;
        margin-top: 22%;
        background-color: #ffffff;
        }
        .box2 h1{
            /* font-family: sans-serif; */
            text-transform: uppercase;
            font-family: 'Josefin Sans';
            padding-left: 35px;
            letter-spacing: 0.29rem;
        }
        .box2 p{
            font-family: 'Alata';
            color: hsl(0, 0%, 55%);
            font-size: 15px;
            line-height: 1.5rem;
            float: center;
            padding-left: 35px;
        }





        .BoxContainer{
            margin-top: -10%;
           
            height: 100%;
            /* width: 100%; */
            background-color: rgb(255, 255, 255);
        }
.box{
    width: 650px;
    height: 230px;
    margin-left: 10%;
    margin-top: 50px;
}

#box1{
    margin-top: 10%;
    /* position: absolute; */
    background-color: hsl(0, 0%, 100%);
  height: 20%;
}
#box1 h1{
    color: black;
}
.BoxContainer div h1{
        text-transform: uppercase;
        font-family: 'Josefin Sans';
        padding-left: 35px;
        margin-top: 15%;
        position: absolute;
        letter-spacing: 0.29rem;
       font-size: 45px;
       color: #ffffff;
}

.BoxContainer div #box1 h1{
    text-transform: uppercase;
    font-family: 'Josefin Sans';
    padding-left: 35px;
    margin-top: 15%;
    position: absolute;
    letter-spacing: 0.29rem;
   font-size: 30px;
   color: black;
}
#box2{
    background-image: url(images/mobile/image-deep-earth.jpg);
   


}

#box3{
    background-image: url(images/mobile/image-night-arcade.jpg);
    
}
#box4{
    background-image: url(images/mobile/image-soccer-team.jpg);
}
#box5{
    background-image: url(images/mobile/image-grid.jpg);
}

#box6{
   background-image: url(images/mobile/image-from-above.jpg);
}
#box7{
    background-image: url(images/mobile/image-pocket-borealis.jpg);
    /* background-color: hsl(345, 70%, 45%); */
}
#box8{
    background-image: url(images/mobile/image-curiosity.jpg);
    /* background-color: hsl(123, 100%, 50%); */
}
#box9{
    background-image: url(images/mobile/image-fisheye.jpg);
    /* background-color: hsl(345, 70%, 45%); */
}
#box99{
margin-bottom: -20%;
    background-color: hsl(0, 0%, 100%); 
}
#box99 h1{
    border: solid;
    margin-left: 16%;
    margin-top: 2%;
    color: black;
    padding: 3% 7%;
  
}
.footer{
   margin-top: 1890px;
   margin-left: 10%;
    height: 90%;
    
    background-color: hsl(0, 0%, 0%);
}

.footer nav{

    display:flex;
    justify-content: space-between;
    align-items: center;
    

}
.footer nav ol{
    list-style: none;
    /* display: none;  */
    margin-top: 9%;
    margin-right: 5%;
    font-family: 'Alata';
    margin-left: 30%;
    font-size: 25px;
   
}
.footer nav ol li{
    margin-top: 20%;
}
.footer nav ol li a{
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}
.footer img{
    margin-left: 30%;
    margin-top: 10%;
}

.media{
    margin-top: 14%;
    margin-left: 30%;
    color: white;
}
.media a{
   
    color: white;
    margin-left: 4%;
    font-size: 40px;
}
.footer p{
    text-transform: lowercase;
    font-family: 'alata';
    padding-left: 35px;
    margin-top: 10%;
    position: absolute;
    letter-spacing: 0.3rem;
    color: white;
   font-size: 15px;
}


@media screen and (min-width:720px) {
    header{
        
        background-image: url(images/desktop/image-hero.jpg);
       
    }

    header nav ol{
        list-style: none;
        display: flex;
    }
    header nav ol li{
        color: hsl(0, 0%, 100%);
        margin-left: 10px;
    }
    header nav ol li a{
        color: hsl(0, 0%, 100%);
        text-decoration: none;
    }
    
    nav.logo{
      margin-left: 10%; 
    } 
  
    .nav_tooger{
        display: none; 
    } 

}
    
